*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

span {
  font-weight: 800;
}

form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form__question {
  background: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(104, 104, 104, 0.5);
}

.form__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
}

.question__title {
  margin-bottom: 1rem;
}

.question__input {
  display: flex;
  align-items: center;
}

input {
  margin-right: 0.5rem;
}

button {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background: #fff;
  min-width: 200px;
  padding: 15px 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
form button:hover {
  background: #b3b1c9;
}

.show-result {
  display: flex;
  justify-content: center;
}
